footer {
  background-color: #214e8f;
  font-family: Roboto;
  margin-top: 1rem;
  color: white;
}
.text {
  font-family: Roboto;
  color: white;
  font-weight: 600;
  margin-left: 1rem;
  display: flex;
}

.card {
  margin-bottom: 1.5rem;
}
