img {
  height: 40px;
  width: 40px;
}


.container{
  margin-top: 2rem;
  margin-bottom: 2rem;


}

.card{
  margin-bottom: 1.5rem;
}

.card:hover{
  background-color: lightsteelblue;
}

.post{
  display: flex;
  justify-content: end;
  margin-top: 4rem;
}
