<!-- <section id="cover" class="min-vh-100">
  <div id="cover-caption">
    <div class="container">
      <div class="row text-white">
        <div
          class="col-xl-5 col-lg-6 col-md-8 col-sm-10 mx-auto text-center form p-4"
        >
          <h1 class="display-4 py-2 text-truncate">SignUp.</h1>
          <div class="px-2">
            <form action="" class="justify-content-center">
              <div class="form-group">
                <input
                  type="text"
                  class="form-control"
                  placeholder="FirstName"
                />
              </div>
              <div class="form-group">
                <input
                  type="text"
                  class="form-control"
                  placeholder="SecondName"
                />
              </div>
              <div class="form-group">
                <input
                  type="text"
                  class="form-control"
                  placeholder="MiddleName"
                />
              </div>
              <div class="form-group">
                <input
                  type="number"
                  class="form-control"
                  placeholder="PhoneNumber"
                />
              </div>

              <div class="form-group">
                <input type="email" class="form-control" placeholder="Email" />
              </div>
              <div class="form-group">
                <input type="text" class="form-control" placeholder="Address" />
              </div>
              <div class="form-group">
                <input
                  type="date"
                  class="form-control"
                  placeholder="Date of birth"
                />
              </div>
              <div class="form-group">
                <input
                  type="number"
                  class="form-control"
                  placeholder="employeeNumber"
                />
              </div>

              <div class="dropdown show" style="display: flex; margin-bottom: 1rem;">
                <a
                  class="btn btn-primary dropdown-toggle"
                  href="#"
                  role="button"
                  data-bs-toggle="dropdown"
                  id="dropdownMenuLink"
                  data-toggle="dropdown"
                  aria-haspopup="true"
                  aria-expanded="false"
                >
                  BloodGroup
                </a>

                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                  <a class="dropdown-item" href="#">BloodGroup</a>

                  <a class="dropdown-item" href="#">o+</a>

                  <a class="dropdown-item" href="#">b+ </a>
                </div>
              </div>

              <div class="form-group">
                <input
                  type="password"
                  class="form-control"
                  placeholder="Password"
                />
              </div>
              <div class="form-group">
                <input
                  type="password"
                  class="form-control"
                  placeholder="Confirm Password"
                />
              </div>
              <div class="form-group">

                <input type="radio" class="form-control" name="gender" value="male" /> Male
                <input type="radio"  class="form-control"name="gender" value="female" /> Female
              </div>

              <div class="form-check">
                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                <label class="form-check-label" for="flexRadioDefault1">
                  Default radio
                </label>
              </div>

              <div class="form-group">
                <input type="text" class="form-control" placeholder="Address" />
              </div>
              <button type="submit" class="btn btn-primary">SignUp</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section> -->

<section id="cover" class="min-vh-100">
  <div id="cover-caption">
    <div class="container">
      <div class="row text-white">
        <div
          class="col-xl-5 col-lg-6 col-md-8 col-sm-10 mx-auto text-center form p-4"
        >
          <h1 class="display-4 py-2 text-truncate">Signup.</h1>
          <div class="px-2">
            <form action="" class="justify-content-center" >
              <div class="form-group">
                <input
                  type="text"
                  class="form-control"
                  placeholder="Enter FirstName"
                  [(ngModel)]="firstname"
                  name="firstname"
                />
              </div>
              <div class="form-group">
                <input type="email" class="form-control" placeholder="Enter Email" [(ngModel)]="email" name="email"/>
              </div>
              <div class="form-group">
                <input
                  type="password"
                  class="form-control"
                  placeholder="Enter Password"
                  name="password"
                  [(ngModel)]="password"
                />
              </div>
              <div class="form-group">
                <input
                  type="password"
                  class="form-control"
                  placeholder="Enter Confirm Password"
                  name="confirmPass"
                  [(ngModel)]="cpassword"
                />
              </div>
              <button type="submit" class="btn btn-primary btn-lg" (click)="signup()">
                SignUp
              </button>
              <div class="form-group">
                <h6>Already a member?Login</h6>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
